/* section 1*/

.section-1{
  position:relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--a-color-primary);
  padding-top: 190px;
  
  
}
.section-1 .presentation-div{
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 30px 0;
  gap: 20px;
  
}

.section-1 .presentation-div .intro-div{
  color:var(--text-color-primary);
  gap: 15px;
}


.section-1 .presentation-div .btn-div .btn-buy{
  background-color: var(--a-color-primary);
}

.section-1 .btn-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}


.iphone-17-pro-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 425px;
  
}



/* ----- section 2 ----- */


.section-2{
  position:relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-1);
  padding-top: 165px;
  
  
}

.iphone-air-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 500px;
  
}

.section-2 .presentation-div{
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
  
}

.section-2 .presentation-div .intro-div{
  gap: 15px;
  
}

/*---------------------*/


/*------ grid section -----*/

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 600px 600px 600px;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 10px;
}

/*----------------------*/

/*----- first block ------*/

.block-1 {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-1);
  padding-top: 200px;

}

.airpods3-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 600px;
}

.block-1 .presentation-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  gap: 20px;
}

.block-1 .presentation-div .name{
  font-size: 40px;
  font-weight: 600;
}

.block-1 .presentation-div .description{  
  font-size: 20px; 
  font-weight: 400;
}

.block-1 .presentation-div .btn-buy{
  background-color: var(--background-color-1);
}

.block-1 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}




/* -----------------------------*/

/*------- second block -------*/

.block-2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(250, 250, 250) ;
  padding-top: 170px;
  
}

.ipadair-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.ipad-air-text-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 160px;
}

.block-2 .presentation-div{
  display: flex;
  position:absolute;
  top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.block-2 .presentation-div .description{
  font-size: 20px; 
  font-weight: 400;
}

.block-2 .presentation-div .btn-buy{
  background-color: var(--background-color-2);
}

.block-2 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}


/*-----------------------------*/

/*------- thrid block -----*/



.block-3 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color-2);
  padding-top: 135px;
}

.apple-watch-11-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800px;
}

.block-3 .presentation-div{
  display: flex;
  position: absolute;
  top: 30px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
}

.block-3 .presentation-div .name{
  display:flex;
  justify-content: center;
  gap: 8px;
  word-spacing: -5px;

}

.block-3 .presentation-div .description{
  font-size: 20px; 
  font-weight: 400;
}

.block-3 .presentation-div .btn-buy{
  background-color: var(--background-color-2);
}

.block-3 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}



/*---------------------------------------*/

/*-------- fourth block --------*/


.block-4 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--text-color-primary);
  padding-top: 205px;
  
  
}

.new-ipad-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 315px;
}

.block-4 .presentation-div{
  display: flex;
  position:absolute;
  flex-direction: column;
  justify-content: center;
  top: 20px;
  gap: 20px;
  
}

.block-4 .presentation-div .name{
  display: flex;
  justify-content: center;
}

.block-4 .presentation-div .description{
  font-size:20px; 
  font-weight: 400;
}

.block-4 .presentation-div .btn-buy{
  background-color: var(--text-color-primary);
}

.block-4 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}

/*-------------------------------------*/

/*--------------- fith block ----------------*/

.block-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--text-color-primary);
  padding-top: 145px;
 
}

.trade-in-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800px;
 
}


.block-5 .presentation-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25px;  
  gap: 20px;
}

.block-5 .presentation-div .name{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}

.block-5 .presentation-div .description{
  font-size: 20px; 
  font-weight: 400;
}

.block-5 .presentation-div .btn-buy{
  width: max-content;
  background-color: var(--background-color-2);
}

.block-5 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}

/*-------------------------------------------*/


/*-------------- sixth block ----------------*/


.block-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--text-color-primary);
  padding-top: 200px; 
}

.credit-card-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 500px;
  
 
}


.block-6 .presentation-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25px;  
  gap: 20px;
}

.block-6 .presentation-div .name{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}

.block-6 .presentation-div .description{
  font-size: 20px; 
  font-weight: 400;
}

.block-6 .presentation-div .btn-buy{
  width: max-content;
  background-color: var(--text-color-primary);
}

.block-6 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}

/*------------ gird is over -----------*/

/*----------- Slide show will start now ----------*/


.slide-section{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 55px;
}

.section-presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: rgb(245, 245, 245);
  border: 1px solid transparent;
  margin-bottom: 5px;
}

.section-presentation h2{
  padding-top: 22px;
  font-size: 60px;
  font-weight: 500;
  
}

/*------------slider----------*/

.slider{
  overflow: hidden;
  width: 100%;
}

.slide-track{
  display: flex;
  gap: 15px;
  will-change: transform;
  animation: scroll 40s linear infinite;

}

/* animation starts here */

@keyframes scroll{
  0% {transform: translateX(0);}
  100% {transform: translateX(-600%)}  
}

.slider:hover .slide-track{
  animation-play-state: paused;
}

.slide:hover{
  transform: scale(1.03);
  cursor: pointer;
  
}


.slide{
  flex: 0 0 auto;
  width: min(1050px, 92vw);
  height: 600px;
  overflow: hidden;
  transition: transform 300ms ease;

}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}




/*------- responsivenes -------*/


/* big screen*/
@media (min-width: 1025px){

}

/*laptop*/
@media (max-width: 1024px){

}

/*tablet*/
@media (max-width: 768px){

}

/*phone*/
@media (max-width: 480px){

}