footer{
  width: 100%;
  background-color: #1f1f1f;
  padding: 1.5rem 0;
  font-size: 0.6rem;
}

footer hr{
  border: none;
  height: 0.1px;
  background-color: var(--text-color-primary);
  width: 100%;
 
}

.info-position{
  width: 100%;
  margin: 0 auto; 
  padding: 0 5rem;
  
  
}



.info-text p{
  color: var(--text-color-2); 
  text-align: justify;
}


.more-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 0.5rem;
  
}

footer div ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.more-list li, .info-position a{
  color: var(--text-color-3);
}

.more-list a, .info-position p{
  color: var(--text-color-2);
}


/*------- responsivenes -------*/


/*tablet*/
@media (max-width: 950px){
 .info-position{
    width: 95%;
    margin: 0 auto; 
    padding: 0.5rem;
  
  } 
 .more-list{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .more-list .ft-li-2{
    display: none;
  }
}


/*phone*/
@media (max-width: 480px){
  

  .info-position{
    width: 100%;
    margin: 0 auto; 
    padding: 0.5rem;
  
  } 
 .more-list{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .more-list .ft-li-2{
    display: none;
  }
}
