/* section 1*/

.section-1{
  position:relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--a-color-primary);
  
  
  
}
.section-1 .presentation-div{
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  
}

.section-1 .presentation-div .intro-div{
  color:var(--text-color-primary);
  gap: 15px;
}


.section-1 .presentation-div .btn-div .btn-buy{
  background-color: var(--a-color-primary);
}

.section-1 .btn-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}


.iphone-17-pro-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 350px;
  
}



/* ----- section 2 ----- */


.section-2{
  position:relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-1);
  
  
  
}

.iphone-air-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 500px;
  
}

.section-2 .presentation-div{
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  
  
}

.section-2 .presentation-div .intro-div{
  gap: 15px;
  
}

/*---------------------*/


/*------ grid section -----*/

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  min-width: 0;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0 10px;
  padding: 0;
 
}


.apple-icon-8{
  width: 100%;
  max-width: 50px;
  height: auto;
  display: block;
}



/*----- first block ------*/

.block1 {
  background-color: var(--background-color-2);
}

.airpods3-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 250px;
}

.block1 .presentation-div .btn-buy{
  background-color: var(--background-color-2);
}

.block1 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}




/* -----------------------------*/

/*------- second block -------*/

.block2{
  background-color: var(--background-color-4);
}

.ipadair-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 300px;
}

.ipad-air-text-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 160px;
}


.block2 .presentation-div .btn-buy{
  background-color: var(--background-color-2);
}

.block2 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}


/*-----------------------------*/

/*------- thrid block -----*/



.block3 {
  background-color: var(--background-color-2);
}

.apple-watch-11-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 450px;
}


.block3 .presentation-div .name{
  gap: 8px;
  word-spacing: -5px;
}


.block3 .presentation-div .btn-buy{
  background-color: var(--background-color-2);
}

.block3 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}



/*---------------------------------------*/

/*-------- fourth block --------*/


.block4 {
  background-color: rgb(245, 245, 245);
}

.new-ipad-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 450px;
  bottom: 0;
}


.block4 .presentation-div .btn-buy{
  background-color: var(--text-color-primary);
}

.block4 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}

/*-------------------------------------*/

/*--------------- fith block ----------------*/

.block5 {
  background-color: rgb(254, 254, 254);
}

.trade-in-img{
  position: relative;
  height: auto;
  width: 100%;
  max-width: 400px;
 
}


.block5 .presentation-div .btn-buy{
  width: max-content;
  background-color: var(--background-color-2);
}

.block5 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}

/*-------------------------------------------*/


/*-------------- sixth block ----------------*/


.block6 {
  background-color: rgb(246, 246, 250);
}


.credit-card-img{
  position:relative;
  height: auto;
  width: 100%;
  max-width: 400px;
}


.block6 .presentation-div .btn-buy{
  width: max-content;
  background-color: rgb(246, 246, 250);
}

.block6 .presentation-div .btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}

/*------------ gird is over -----------*/

/*----------- Slide show will start now ----------*/


.slide-section{
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  margin-bottom: 55px;
}

.section-presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--background-color-1);
  margin-bottom: 5px;
  padding-top: 2%;
}

.section-presentation h2{
  font-size: 3rem;
  font-weight: 500;
  
}

/*------------slider----------*/

.slider{
  overflow: hidden;
  width: 100%;
}

.slide-track{
  display: flex;
  gap: 15px;
  will-change: transform;
  animation: scroll 40s linear infinite;
  

}

/* animation starts here */

@keyframes scroll{
  0% {transform: translateX(0);}
  100% {transform: translateX(-600%)}  
}

.slider:hover .slide-track{
  animation-play-state: paused;
}

.slide:hover{
  transform: scale(1.03);
  cursor: pointer;
  
}


.slide{
  flex: 0 0 auto;
  width: 65vw;
  height: auto;
  overflow: hidden;
  transition: transform 300ms ease;
  aspect-ratio: 16 / 9;

}

.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}




/*------- responsivenes -------*/


/*tablet*/
@media (max-width: 950px){
  .grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin : 0;
 
  }
   .grid .img-div img{
    max-height: 200px;
    
  }
   .ipad-air-text-img{
    width: 50%;
  }

  .b3 .presentation-div .name{
    gap: 3px;
  }

  .apple-icon-8{
    max-width: 35px;
  }
 
  .slide{
    width: 100vw;
    height: auto;
   
  }  
  
  .section-presentation h2{
  font-size: 1.5rem;
  font-weight: 500;
  
}

}
/*phone*/
@media (max-width: 480px){
   .grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0;
  }
 

  .grid .img-div img{
    max-height: 170px;
    
  }
  .ipad-air-text-img{
    width: 40%;
  }

  .apple-icon-8{
    max-width: 25px;
  }


 
  .slide{
    width: 100vw;
    height: auto;
   
  }  
  
  .section-presentation h2{
  font-size: 1.5rem;
  font-weight: 500;
  
}
 
}