
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

body{
  background-color: white;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: var(--text-color-6); 
  background-color: var(--background-color-0);
  padding: 0;
  margin: 0;
  height:max-content;

}

main{
  position: relative;
  top: 2.5rem;
  right: 0;
  left: 0;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

:root{
  --btn-color-primary: rgb(0, 122, 255);
  --text-color-primary: white;
  --text-color-2: #b0b0b2;
  --text-color-3: #f5f5f7;
  --text-color-4: #666666;
  --text-color-5: blue;
  --text-color-6: #1d1d1f;
  --a-color-primary: black;
  --background-color-1: rgb(245, 245, 247);
  --background-color-2: rgb(250, 250, 250);
  --background-color-3: rgba(255, 255, 255, 0.15);
  --background-color-4: rgb(255, 255, 255);
  --background-color-0: #fff;

}

img{
  display: block;
}

h1, h2, p{
  margin: 0;
  padding: 0;
  text-align: center;
  
}

a{
  text-decoration: none;
  color:var(--a-color-primary);
}

.hero-click{
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-div{
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  height: auto;
  
}
 

.section-1 .name, .section-2 .name{
  text-align: center;
  font-size: 2.5rem; 
  font-weight: 500;
  
}


.section-1 .description, .section-2 .description{ 
  text-align: center;
  font-size: 1.5rem; 
  font-weight: 400;
}

/*------grid general styles -------*/

.grid .block{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;/**/
  
}

.grid .presentation-div{
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

 .grid .presentation-div .name{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
  font-size: 2rem;
  font-weight: 600;
 }

 .grid .presentation-div .description{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;  
  font-size: 1rem; 
  font-weight: 400;
}




/*----- buttons ------*/


.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-primary);
  margin: 0 0 2rem 0;
  gap: 0.75rem;
  
 
  
}

.btn{
  display: flex;
  height: auto;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 0.9rem;
  
}

.btn-primary{
  border: 1px solid transparent;
  background-color: var(--btn-color-primary);
  color:var(--text-color-primary);
  width: max-content;
}

.btn-buy{
  border: 1px solid var(--btn-color-primary);
  background-color: var(--background-color-1);
  color: var(--btn-color-primary);
  width: max-content;
}

.btn-buy:hover{
  background-color: var(--btn-color-primary);
  color: var(--text-color-primary);
}


/*-------------------------*/
/*------- responsivenes -------*/


/*tablet*/
@media (max-width: 950px){
  .img-div{
    width: 60%;
  }

  .section-1 .name, .section-2 .name{
    font-size: 1.75rem; 
  }
  .section-1 .description, .section-2 .description{ 
    font-size: 0.75rem; 
  }
   .grid .presentation-div .name{ 
    font-size: 1.25rem;
  }
  .grid .presentation-div .description{  
    font-size: 0.8rem;
  } 
  .grid .presentation-div{
    top: 0.75rem;
    gap: 0.5rem;
  }
  .btn-div{
    margin: 0 0 1rem 0;
    gap: 0.35rem;
  }
  .btn{
    padding: 0.25rem 0.5rem;
    font-size: 0.65rem;
    
  }
}


/*phone*/
@media (max-width: 480px){
 .img-div{
    width: 50%;
  }

  .section-1 .name, .section-2 .name{
    font-size: 0.8rem; 
  }
  .section-1 .description, .section-2 .description{ 
    font-size: 0.6rem; 
  }
   .grid .presentation-div .name{ 
    font-size: 0.8rem;
  }
  .grid .presentation-div .description{  
    font-size: 0.6rem;
  } 
  .grid .presentation-div{
    top: 0.75rem;
    gap: 0.5rem;
  }
  .btn-div{
    margin: 0 0 1rem 0;
    gap: 0.35rem;
  }
  .btn{
    padding: 0.25rem 0.5rem;
    font-size: 0.45rem;
    
  }

}
